
<mat-card appTest id="faux-gif"
          [@popOverState]="stateName"

          (tap)="startAnimation('swing')"
          (doubleTap)="startAnimation('wobble')"
          (tripleTap)="startAnimation('jello')"
          
          [@cardAnimator]="animationState" 
          (@cardAnimator.done)="resetAnimationState()"
          (swipeleft)="startAnimation('slideOutLeft')"
          (swiperight)="startAnimation('zoomOutRight')"
          (swipeup)="startAnimation('rotateOutUpRight')"
          (swipedown)="startAnimation('flipOutY')"
>


