<link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >

<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
<!-- <div class="container">
    <div class="card" style="width:14%">
      <img class="img-thumbnail"   src="https://media.giphy.com/media/3ohs88j0jPszpGCbYY/giphy.gif" alt="Avatar" style="width:100%">
      <h4>Velocidad y agilidad aritmética </h4>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card" style="width:14%">
      <img class="img-thumbnail" src="https://media.giphy.com/media/xT8qBb3hwZWhbOAoIo/giphy.gif" alt="Avatar" style="width:100%">
      <h4>Piedra Papel o Tijera</h4>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card" style="width:14%">
      <img  class="img-thumbnail"  src="https://thumbs.gfycat.com/RapidFlawlessHoatzin-size_restricted.gif" alt="Avatar" style="width:100%">
      <h4>Adivina el número secreto</h4>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
    <div class="card" style="width:14%">
      <img  class="img-thumbnail"  src="https://media.giphy.com/media/nvPNlAagUMWn6/giphy.gif" alt="Avatar" style="width:100%">
      <h4>Fight Gif</h4>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Figthgif')">Jugar</button></p>
    </div>
    <div class="card" style="width:14%">
      <img  class="img-thumbnail"  src="../../../assets/imagenes/anagrama.gif" alt="Avatar" style="width:100%">
      <h4>Anagrama</h4>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('anagrama')">Jugar</button></p>
    </div>
    <div class="card" style="width:14%">
      <img  class="img-thumbnail"  src="../../../assets/imagenes/tateti.gif" alt="Avatar" style="width:100%">
      <h4>Ta-Te-Ti</h4>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('tateti')">Jugar</button></p>
    </div>
  </div> -->

   <div class="container">

      <!-- Page Heading -->
      <!--<h1 class="my-4">Menú Principal
        <small>Secondary Text</small>
      </h1>-->

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a><img class="card-img-top" src="https://media.giphy.com/media/3ohs88j0jPszpGCbYY/giphy.gif" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <p>Agilidad aritmética </p>
              </h4>
                  
                    <ul class="social-network social-circle">
                        <li><a href="" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>       
                  
                  <div (click)="Juego('Agilidad')" class="button"><div class="outer"><div class="height"><div class="inner">Jugar</div></div></div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://media.giphy.com/media/xT8qBb3hwZWhbOAoIo/giphy.gif" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <p href="#">Piedra Papel o Tijera</p>
              </h4>
                   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div (click)="Juego('Agilidad')" class="button"><div class="outer"><div class="height"><div class="inner">Jugar</div></div></div></div>
                
                </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

